.main {
  background-color: $white;
  height: 92.8vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.main__title {
  font-size: 3.6rem;
  font-weight: 500;
  width: 680px;
  color: #CB326B;

}
.main__subtitle {
  width: 350px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #A6AEBA;
  margin-top: 2rem;
  text-align: right;
}

.main__img {
  width: 500px;
  padding: 0%;
  margin: 0;
}

.main__authbtn {
  display: none;
  flex-direction: column;
  z-index: 99;
  margin-bottom: 3rem;
  width: 100%;
}
.main__logo {
  position: absolute;
  top: 45px;
  left: 16px;
  z-index: 99;
}

