.verification {
  background-color: $white;
  border-radius: 1rem;
  height: auto;
  position: relative;

  // padding: 2rem 2.3rem 0; 

  &.active:before {
    visibility: visible;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $primary;
    opacity: 0.1;
    z-index: 90;
    border-radius: 1rem;

    visibility: hidden;
  }
}

.verification__header {
  display: flex;
  padding: 2rem 2.3rem 0; 
}

.verification__body {
  margin-top: 1rem;
  padding: 0rem 1.5rem 1.5rem 1.5rem; 
}

.verification__noname {
  width: 33%;
}

.verification__text {
  text-transform: uppercase;
  color: $ghost;
  font-weight: 500;
}
