.account {
  display: flex;
  width: 100%;
  position: relative;
  padding: 0.5rem;
  margin: 0.5rem 0;  


  &:before {
    display: none;
  }
  &.new {
    &:before {
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      background-color: $brand-light;
      border-radius: 50%;
      position: absolute;
      left: -8px;
      z-index: inherit;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  &:hover {
    background-color: $light;
  }
  &:hover > .account__btn {
    background-color: $brand;
    color: $white;
    transition: all .2s linear;
  }
  &:hover > .account__count > .account__icon {
    fill: $brand-light;
    transition: all .2s linear;
  }
  &:hover > .account__payment {
    display: flex;
  }
  &:hover > .accounts__indicators {
    display: none;
  }
  &:hover > .account__btn > .bundle__icon {
    transition: all .2s linear;
    stroke: $white;
  }
  &:hover > button > .trash__icon {
    display: block;
  }
  &:hover >  .account__img {
    transition: all .2s linear;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(122, 122, 122));
  }
}

.account__img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: all .1s linear;

  &.active {
    filter: opacity(0.56) drop-shadow(0 0 0 rgb(122, 122, 122));
  }
}

.account__inactive {
  margin-left: auto;
  color: #CED4DC;
  font-size: 1rem;
  font-weight: 500;
}

.account__count {
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  // margin-right: 6%;
  width: 105px;
}
.account__icon {
  fill: $gray-light;
  position: absolute;
  top: 33%;
  left: -20px;

  transition: all .2s linear;
}
.account__info {
  margin-left: 2rem;
  width: 28%;
}
.account__payment {
  display: none;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  color: $ghost;
  width: 250px;
  font-weight: 400;
  font-size: 0.8rem;

  position: relative;
}

.account__date {
  display: flex;
  flex-direction: column;
  color: #000;
}

.account__status {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: auto;


  &--text {    
    font-size: 1rem;
    font-weight: 500;
    color: #CED4DC;
    transition: all .2s linear;

    margin-left: 0.5rem;
  }
}
.accounts__indicators {
  display: flex;
  margin-right: auto;
}
.account__indicator {
  color: $secondary;
  position: relative;
  width: 48px;
  height: 48px;
  border: 3px solid transparent;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .2s linear;

  &:first-child {
    margin-right: 9rem;
  }

  & > p {
    font-size: 1rem;
    font-weight: 600;
  }

  
}
.account__name {
  margin-top: 0.2rem;
  font-weight: 600;
  color: $primary;
}
.account__url {
  color: $secondary;
  font-weight: 400;
}
.account__btn {
  display: flex;
  align-items: center;

  background-color: $white;
  color: $brand;
  border: 1px solid $brand;
  border-radius: 0.5rem;
  padding: 0.7rem 1.9rem 0.7rem 3.5rem;
  position: relative;
  transition: all .2s linear;

  &.solo {
    margin-left: auto;
  }
}

.bundle__icon {
  position: absolute;
  left: 16%;
  z-index: 11;
  stroke: #DB84A4;
}

.trash__icon {
  display: none;
  margin-left: auto;
  margin-right: 1rem;
  fill: $ghost;
  &-disabled {
    display: none;
  }
  &:hover {
    fill: $secondary;
  }
}

.button__icon {
  margin-left: auto;
}

.clock__icon {
  fill: #CED4DC;
}