@import './assets/styles/_variables';
@import './assets/styles/_reset';
@import './assets/styles/_mixins';
@import './assets/styles/_fonts';
@import './assets/styles/_container';

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Mazzard, Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F2F8;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}





// Components
@import './components/Pagination/Pagination.scss';
@import './components/MobileMenu/MobileMenu.scss';

@import './components/Header/Header.scss';
@import './components/User/User.scss';
@import './pages/Verification/Verification.scss';

@import './components/SearchBar/SearchBar.scss';


@import './pages/Main/Main.scss';
@import './pages/Report/Report.scss';
@import './pages/UserProfile/UserProfile.scss';
@import './pages/Login/Login.scss';
// @import './pages/Verification/Verification.scss';

// Media
@import './assets/styles/_media';



