// COLORS 
$test: red;
$brand: #DB84A4;
$brand-light: #FF7EAE;
$brand-shadow: #CB326B;
$primary: #0C1A2F;
$secondary: #313438;
$ghost: #5d636d;
$white: #fff;
$light: #FBFBFD;
$accent: #F1F2F8;
$gray-light: #C4C4C4;